{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "comma-dangle": [
            "error",
            "never"
        ],
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "no-console": "off",
        "no-restricted-syntax": [ "error", "WithStatement", "BinaryExpression[operator='in']" ],
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ],
        "yoda": "error",
        "import/no-dynamic-require": "off"  
    }
}